/* HeroSection.css */
.bg-image {
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 350px;
}

.bg-image .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-image .container {
  position: relative;
  z-index: 1;
}

.bg-image h1,
.bg-image h4 {
  animation: fadeInDown 1s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
