.navbar {
  padding: 1rem;
  margin: 0px;
  margin-bottom: 0px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  font-size: 1.25rem;
}

.navbar-nav .nav-item {
  margin-left: 1rem;
}

.navbar-nav .nav-link {
  font-size: 1rem;
  color: #fff;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #ffc107;
}

.navbar-nav .btn-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-nav .btn-link:hover {
  color: #ffc107;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #ffc107;
}
