body {
  font-family: "Roboto", sans-serif;
}

.text-center {
  font-size: 16px;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.bg-white {
  background-color: #ffffff !important;
}
.forget-pass {
  font-size: 14px;
}
.google-login-container .text-login {
  font-size: 30px;
  margin-bottom: 10px;
}

.two-button {
  margin-top: 10px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-danger {
  background-color: #db4437;
  border: none;
}

.btn-danger:hover {
  background-color: #c23321;
}

.text-muted {
  color: #6c757d !important;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
