/* Pagination */
.pagination {
  margin-top: 20px;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  color: #000; /* Màu đen cho chữ */
  background-color: rgba(255, 230, 235, 1); /* Màu hồng nhạt */
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.page-link:hover {
  background-color: rgba(255, 204, 220, 1); /* Màu hồng đậm hơn khi hover */
  transform: scale(1.1);
}

.page-item.active .page-link {
  background-color: rgba(
    255,
    204,
    220,
    1
  ); /* Màu hồng đậm hơn cho trang hiện tại */
  color: black; /* Màu trắng cho chữ */
  font-weight: bold;
  scale: 1.1;
}

.page-link:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(255, 204, 220, 0.5);
}
