/* src/components/ProductPage/ProductPage.css */

/* Container Styles */
.product-page {
  padding: 2rem 1rem;
  background-image: url("../../assets/giangsinh4.avif");
  background-size: cover;
}

@media (min-width: 768px) {
  .product-page {
    padding: 2rem;
  }
}

/* Responsive Sidebar */
@media (max-width: 767.98px) {
  .product-page .product-sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
    max-width: 300px;
    background-color: #ffffff;
    transform: translateX(-100%);
    z-index: 1050;
    transition: transform 0.3s ease-in-out;
  }

  .product-page .product-sidebar-container.show {
    transform: translateX(0);
  }
}
