/* src/components/ProductPage/ProductPage.css */

.product-page {
  background-image: url("../../assets/giangsinhbackground.jpeg");
  padding: 20px 0;
  background-color: #f5f5f5;
  background-size: cover;
}

/* ProductCard.css */

.product-card {
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.image-container {
  position: relative;
  width: 100%;
  padding-top: 75%; /* 4:3 Aspect Ratio */
  background-color: #f8f8f8;
  overflow: hidden;
}

.product-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.product-image:hover {
  transform: scale(1.1);
}

.stock-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0.5em 1em;
  font-size: 0.9rem;
  font-weight: bold;
}

.product-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  text-align: center;
}

.product-price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #ff5722;
  text-align: left;
}

.product-rating {
  font-size: 0.9rem;
  color: #6c757d;
  text-align: center;
  display: flex;
  justify-content: left;
  align-items: left;
}

.product-rating .fas {
  margin: 0 2px;
}

.add-to-cart-btn {
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  padding: 0.8em;
  border-radius: 5px;
}

.add-to-cart-btn:disabled {
  background-color: #cccccc !important;
  border-color: #cccccc !important;
  cursor: not-allowed;
}
