/* ProductSidebar.css */
.product-sidebar {
  width: 250px;
  padding: 20px;
  background-color: #f8f9fa;
}

.sidebar-title {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-list .category-item {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid rgb(165, 162, 162); /* Change border color to red */
}
.selected-category {
  font-size: 10px;
}

.category-item.active,
.category-item:hover {
  background-color: #e9ecef;
}

.product-sidebar .category-image {
  height: 25px;
  width: 25px;
  object-fit: cover;
  margin-right: 5px;
  margin-left: 10px;
}

.filters {
  margin-top: 20px;
}

.filter-group {
  margin-bottom: 15px;
}

.filter-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.filter-group input,
.filter-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 20px; /* Increased border-radius for rounder corners */
}
.filter-group .form-control {
  font-size: 12px;
  padding-left: 14px;
}
@media (max-width: 768px) {
  .product-sidebar {
    width: 100%;
    padding: 10px;
  }
}
