/* SingleProductPage.css */
.main-page {
  padding: 20px;
}
.button-back {
  margin-bottom: 20px;
}
.image-container {
  position: relative;
}
.main-image-container {
  border: 1px solid #ddd;
  padding: 10px;
  background: #fff;
}

.quantity-controls .button-increase {
  height: 30px;
  width: 30px;
  padding: 0px;
}

.quantity-controls .button-decrease {
  height: 30px;
  width: 30px;
  padding: 0px;
}

.small-images-container {
  margin-top: 10px;
  justify-content: center;
}
.small-image {
  cursor: pointer;
  margin-right: 10px;
  height: 50px;
  width: 50px;
}
.small-image.selected {
  border: 2px solid #007bff;
}
.product-details {
  padding: 20px;
  border: 1px solid #ddd;
  background: #fff;
  max-width: 90%;
}
.quantity-controls {
  display: flex;
  align-items: center;
}
.quantity {
  font-size: 1.2rem;
}
.small-images-container .small-button {
  height: 40px;
  width: 40px;
  padding: 0px;
}
.two-button .add-button {
  height: 60px;
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.two-button .attribute-button {
  height: 60px;
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.modal-overlay {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
@media (max-width: 576px) {
  .small-image {
    height: 40px;
    width: 40px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .small-images-container .small-button {
    height: 30px;
    width: 30px;
    padding: 0px;
  }
  .image-container,
  .product-details {
    max-width: 100%;
  }
}
